.container{
    border-color:mediumturquoise;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    background-color:honeydew;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}
h3{
    text-align: center;
}
button{
    display: block; margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.element{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.elementLeft{
    margin-right: 5px;
    width: 15%;
    text-align: right;
   
}
.elementRight{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}